.menu-subitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5em;
}
.menu-dish {
  font-weight: bold;
}
.menu-desc {
  margin-top: 0.3em;
  font-style: italic;
}
@import url('./colors.css');


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  min-height: 100vh;
  max-width: 100vmin;
  margin: 0 4vmin;
}

.App {
  text-align: center;
  background-image: linear-gradient(to right, var(--col-bg), var(--col-bh));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmin;
  color: var(--col-dr);
}

.smaller {
  font-size: 5vmin;
}

.birds {
  position: fixed!important;
  max-width: 75px;
  height: auto;
  top: 0;
  right: 0;
}

.people {
  position: fixed!important;
  max-width: 75px;
  height: auto;
  bottom: 0;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .header-content {
    animation: appear 4s ease-in-out
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  95% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.address {
  font-size: 6vmin;
}

a {
  text-decoration: none;
  color: var(--col-dr)!important;
  cursor: pointer;
}
p.users {
  cursor: pointer;
}
.Mui-checked, .Mui-checkbox-root, .MuiSvgIcon-root {
  color: var(--col-dr)!important;
  font-size: 8vmin;
}
.button {
  background: var(--col-el)!important;
  color: var(--col-he)!important;
  font-size: 2.5vmin!important;
}

.fixed {
  position: fixed!important;
  bottom: 2vh;
  right: 2vw;
}

.bouncing {
  animation: bounce ease-in-out 1s infinite;
}

.appearing {
  animation: appear 4s ease-in-out
}

@keyframes bounce {
  0% {
    bottom: 2vh;
  }
  90% {
    bottom: 4vh;
  }
  100% {
    bottom: 2vh;
  }
}

.payment {
  width: 15vmax;
  margin: 3vw;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  animation: hide 0.5s ease-in-out;
  opacity: 0;
}

.notes {
  width: 300px!important;
}

.noi {
  background-image: url('/public/noi.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}