@import "@fontsource/playwrite-us-trad-guides/index.css";

body {
  margin: 0;
  font-family: 'Playwrite US Trad Guides', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}